TypesDB     "/usr/share/collectd/types.db.gluster"
TypesDB     "/usr/share/collectd/types.db"

LoadPlugin python
<Plugin python>
        ModulePath "/usr/lib64/collectd/gluster-collectd/"
        LogTraces true
        Interactive false
        Import "gluster"

        <Module gluster>
	  peer_name "{{ hostname }}"
        </Module>
</Plugin>
